/*
    h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 1px;
        color: #EB3B3B
    }
    
    h3 {
        font-size: 16px;
        font-weight: 700;
        margin-bottom: 20px;
        margin-top: 10px;
        color: #EB3B3B
    }
    
    p {
        font-size: 14px;
        margin: 15px;
        
    }´
    
    .polla{
        border-bottom: 4px solid #FFA34F;
    }*/