.item1{
    padding:0px;
margin-top: 60px;
margin-bottom: 10px;
width: 200px;
height: 200px;
border-radius: 120px;
align-items: center;

text-align:center;
}

.Ojo{
    align-items: center;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    
    grid-gap: 1em;
    width: 600px;
    height: 120px;
}



.ola{
    margin-left: 4px;
    border-left: 1px solid black;   
   
}


.linea{
    
    border-right: 1px solid black;   
    
   
}

.botones{
    margin-left: 20px;
    
}

.parrafo{
 margin-bottom: 1px;
 margin-top: 1px;
}