body{
    padding: 0%;
    margin: 0%;
}

.baxkground{
    background-color: #2F2C2C;  
}

.footer-container{
    display: flex !important;
    justify-content:space-around !important;
    align-items: center !important;
    color: #fff !important;
    align-items: center !important;
    height: 50vh;  
    /* padding-top: 3rem; */
}

.footer-cont-icons{
    display: flex;
}



.footer-component{
    display: flex;
    align-items: center;
    /* margin-left: 1.5rem; */
}
